[Desktop Entry]
Name=Dorico 6
Comment=Music Notation Software
Exec=bash -c '"$HOME/.local/bin/dorico.sh"'
Icon=valerio-dorico
Type=Application
Terminal=false
StartupWMClass=dorico6.exe
Categories=AudioVideo;Audio;