[Desktop Entry]
Name=Dorico
Comment=Music Notation Software
Exec=$HOME/.local/bin/torquio-dorico %F
Icon=torquio-dorico
Type=Application
Terminal=false
StartupWMClass=dorico6.exe
PrefersNonDefaultGPU=true
Categories=AudioVideo;Audio;
MimeType=application/x-dorico;
