[Desktop Entry]
Name=Steinberg Download Assistant
Exec=$HOME/.local/bin/torquio-sda-handler %u
Icon=torquio-sda
Type=Application
Terminal=false
StartupWMClass=steinberg download assistant.exe
Categories=AudioVideo;Audio;
MimeType=x-scheme-handler/net-steinberg-sda;